extends layout

block content
  h1= title
  
  .container-fluid
    .row
      - let books = results
      each book, index in books
        .col-sm-2
          div(onclick=`buy(${index})`)
            p Title: #{book.title}
            p Author: #{book.author}
            p Year: #{book.year}

  a(href="/") Back to index

  script.
    function buy(index) {
        alert(`You purchased item ${index}`);
    }
