extends layout
 
block content
  h1= title
  if (toShow == null)
    h2 No instance to detail
  else
    - let booksid = toShow._id
    - let Title = toShow.title 
    - let Author = toShow.author
    - let Year = toShow.year
 
    div
      div.row
        div(class='booksAttr mr-3') Books ID is:
        div #{booksid} 
      div.row
        div(class='booksAttr mr-3') Books Title is:
        div #{Title}
      div.row
        div(class='booksAttr mr-3') Books Author is:
        div #{Author}
      div.row
        div(class='booksAttr mr-3') Books Year is:
        div #{Year}
