extends layout

block content
  h1= title
  
  .container-fluid
    .row
      - let books = results
      each book, index in books
        .col-sm-2
          div(onclick=`buy(${index})`)
            p Title: #{book.title}
            p Author: #{book.author}
            p Year: #{book.year}

            button.btn.btn-primary.ml-1 Update
            button.btn.btn-danger.ml-1 Delete
            button.btn.btn-info.ml-1 inspect

  a(href="/") Back to index

  script.
    function buy(index) {
        alert(`You purchased item ${index}`);
    }
