extends layout

block content
  h1= title
  
  .container-fluid
    .row
      - let books = results
      each book in books
        .col-sm-2
          div
            p Title: #{book.title}
            p Author: #{book.author}
            p Year: #{book.year}
            button.btn.btn-primary(onclick=`dispatch("/books/update?id=${book._id}")`) Update

  a(href="/") Back to index

  script.
    function dispatch(path) {
      window.location.href = path;
    }
